<div class="page-section nopadding">
  <div class="grey">
    <div class="container">
      <div class="topheader">
        <h1>
          {{title}}
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="section white page-content">
  <div class="container">
    <div id="content" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="post-contents">
        <div class="woocommerce">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 product-tracking-form">
              <form action="/consignment" method="post" class="track_order">
                <h4>
                  Track your product
                  <span>
                    Now you can track your product easily
                  </span>
                </h4>
                <div class="col-md-4 padding-zero">
                  <input
                    class="input-text"
                    type="text"
                    id="waybill"
                    name="waybill"
                    value=""
                    placeholder="Waybill No."
                  />
                </div>
                <div class="col-md-4 padding-zero">
                  <button
                   
                    class="button"
                    name="track"
                    value="Track Your Product"
                  >
                    Track Your Product
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>