<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <script>
        function fvmuag() {
            if (navigator.userAgent.match(/x11.*fox\/54|oid\s4.*xus.*ome\/62|oobot|ighth|tmetr|eadles|ingdo/i)) return !1;
            if (navigator.userAgent.match(/x11.*ome\/75\.0\.3770\.100/i)) {
                var e = screen.width,
                    t = screen.height;
                if ("number" == typeof e && "number" == typeof t && 862 == t && 1367 == e) return !1
            }
            return !0
        }
    </script>
    <title>Go Courier &#8211; Courier &amp; Delivery Services </title>
    <link rel="stylesheet" href="/stylesheets/table.css" />
    <style type="text/css" media="all">
        @font-face {
            font-family: 'Poppins';
            font-display: block;
            font-style: normal;
            font-weight: 300;
            src: local('Poppins Light'), local('Poppins-Light'), url(http://fonts.gstatic.com/s/poppins/v8/pxiByp8kv8JHgFVrLDz8Z1xlEw.woff) format('woff')
        }

        @font-face {
            font-family: 'Poppins';
            font-display: block;
            font-style: normal;
            font-weight: 400;
            src: local('Poppins Regular'), local('Poppins-Regular'), url(http://fonts.gstatic.com/s/poppins/v8/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff')
        }

        @font-face {
            font-family: 'Poppins';
            font-display: block;
            font-style: normal;
            font-weight: 500;
            src: local('Poppins Medium'), local('Poppins-Medium'), url(http://fonts.gstatic.com/s/poppins/v8/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff')
        }

        @font-face {
            font-family: 'Poppins';
            font-display: block;
            font-style: normal;
            font-weight: 600;
            src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(http://fonts.gstatic.com/s/poppins/v8/pxiByp8kv8JHgFVrLEj6Z1xlEw.woff) format('woff')
        }

        @font-face {
            font-family: 'Poppins';
            font-display: block;
            font-style: normal;
            font-weight: 700;
            src: local('Poppins Bold'), local('Poppins-Bold'), url(http://fonts.gstatic.com/s/poppins/v8/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff')
        }

        @font-face {
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 300;
            src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(http://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjASc6CsI.woff) format('woff')
        }

        @font-face {
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 400;
            src: local('Roboto Italic'), local('Roboto-Italic'), url(http://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzQ.woff) format('woff')
        }

        @font-face {
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 700;
            src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(http://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic6CsI.woff) format('woff')
        }

        @font-face {
            font-family: 'Roboto';
            font-display: block;
            font-style: normal;
            font-weight: 400;
            src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxM.woff) format('woff')
        }

        @font-face {
            font-family: 'Roboto';
            font-display: block;
            font-style: normal;
            font-weight: 700;
            src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc-.woff) format('woff')
        }
    </style>
    <style id="fvm-header-1" media="only screen and (max-width: 768px)">
        .woocommerce table.shop_table_responsive thead,
        .woocommerce-page table.shop_table_responsive thead {
            display: none
        }

        .woocommerce table.shop_table_responsive tbody tr:first-child td:first-child,
        .woocommerce-page table.shop_table_responsive tbody tr:first-child td:first-child {
            border-top: 0
        }

        .woocommerce table.shop_table_responsive tbody th,
        .woocommerce-page table.shop_table_responsive tbody th {
            display: none
        }

        .woocommerce table.shop_table_responsive tr,
        .woocommerce-page table.shop_table_responsive tr {
            display: block
        }

        .woocommerce table.shop_table_responsive tr td,
        .woocommerce-page table.shop_table_responsive tr td {
            display: block;
            text-align: right !important
        }

        .woocommerce table.shop_table_responsive tr td.order-actions,
        .woocommerce-page table.shop_table_responsive tr td.order-actions {
            text-align: left !important
        }

        .woocommerce table.shop_table_responsive tr td::before,
        .woocommerce-page table.shop_table_responsive tr td::before {
            content: attr(data-title) ": ";
            font-weight: 700;
            float: left
        }

        .woocommerce table.shop_table_responsive tr td.actions::before,
        .woocommerce table.shop_table_responsive tr td.product-remove::before,
        .woocommerce-page table.shop_table_responsive tr td.actions::before,
        .woocommerce-page table.shop_table_responsive tr td.product-remove::before {
            display: none
        }

        .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
        .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
            background-color: rgba(0, 0, 0, .025)
        }

        .woocommerce table.my_account_orders tr td.order-actions,
        .woocommerce-page table.my_account_orders tr td.order-actions {
            text-align: left
        }

        .woocommerce table.my_account_orders tr td.order-actions::before,
        .woocommerce-page table.my_account_orders tr td.order-actions::before {
            display: none
        }

        .woocommerce table.my_account_orders tr td.order-actions .button,
        .woocommerce-page table.my_account_orders tr td.order-actions .button {
            float: none;
            margin: .125em .25em .125em 0
        }

        .woocommerce .col2-set .col-1,
        .woocommerce .col2-set .col-2,
        .woocommerce-page .col2-set .col-1,
        .woocommerce-page .col2-set .col-2 {
            float: none;
            width: 100%
        }

        .woocommerce ul.products[class*=columns-] li.product,
        .woocommerce-page ul.products[class*=columns-] li.product {
            width: 48%;
            float: left;
            clear: both;
            margin: 0 0 2.992em
        }

        .woocommerce ul.products[class*=columns-] li.product:nth-child(2n),
        .woocommerce-page ul.products[class*=columns-] li.product:nth-child(2n) {
            float: right;
            clear: none !important
        }

        .woocommerce #content div.product div.images,
        .woocommerce #content div.product div.summary,
        .woocommerce div.product div.images,
        .woocommerce div.product div.summary,
        .woocommerce-page #content div.product div.images,
        .woocommerce-page #content div.product div.summary,
        .woocommerce-page div.product div.images,
        .woocommerce-page div.product div.summary {
            float: none;
            width: 100%
        }

        .woocommerce #content table.cart .product-thumbnail,
        .woocommerce table.cart .product-thumbnail,
        .woocommerce-page #content table.cart .product-thumbnail,
        .woocommerce-page table.cart .product-thumbnail {
            display: none
        }

        .woocommerce #content table.cart td.actions,
        .woocommerce table.cart td.actions,
        .woocommerce-page #content table.cart td.actions,
        .woocommerce-page table.cart td.actions {
            text-align: left
        }

        .woocommerce #content table.cart td.actions .coupon,
        .woocommerce table.cart td.actions .coupon,
        .woocommerce-page #content table.cart td.actions .coupon,
        .woocommerce-page table.cart td.actions .coupon {
            float: none;
            padding-bottom: .5em
        }

        .woocommerce #content table.cart td.actions .coupon::after,
        .woocommerce #content table.cart td.actions .coupon::before,
        .woocommerce table.cart td.actions .coupon::after,
        .woocommerce table.cart td.actions .coupon::before,
        .woocommerce-page #content table.cart td.actions .coupon::after,
        .woocommerce-page #content table.cart td.actions .coupon::before,
        .woocommerce-page table.cart td.actions .coupon::after,
        .woocommerce-page table.cart td.actions .coupon::before {
            content: ' ';
            display: table
        }

        .woocommerce #content table.cart td.actions .coupon::after,
        .woocommerce table.cart td.actions .coupon::after,
        .woocommerce-page #content table.cart td.actions .coupon::after,
        .woocommerce-page table.cart td.actions .coupon::after {
            clear: both
        }

        .woocommerce #content table.cart td.actions .coupon .button,
        .woocommerce #content table.cart td.actions .coupon .input-text,
        .woocommerce #content table.cart td.actions .coupon input,
        .woocommerce table.cart td.actions .coupon .button,
        .woocommerce table.cart td.actions .coupon .input-text,
        .woocommerce table.cart td.actions .coupon input,
        .woocommerce-page #content table.cart td.actions .coupon .button,
        .woocommerce-page #content table.cart td.actions .coupon .input-text,
        .woocommerce-page #content table.cart td.actions .coupon input,
        .woocommerce-page table.cart td.actions .coupon .button,
        .woocommerce-page table.cart td.actions .coupon .input-text,
        .woocommerce-page table.cart td.actions .coupon input {
            width: 48%;
            box-sizing: border-box
        }

        .woocommerce #content table.cart td.actions .coupon .button.alt,
        .woocommerce #content table.cart td.actions .coupon .input-text+.button,
        .woocommerce table.cart td.actions .coupon .button.alt,
        .woocommerce table.cart td.actions .coupon .input-text+.button,
        .woocommerce-page #content table.cart td.actions .coupon .button.alt,
        .woocommerce-page #content table.cart td.actions .coupon .input-text+.button,
        .woocommerce-page table.cart td.actions .coupon .button.alt,
        .woocommerce-page table.cart td.actions .coupon .input-text+.button {
            float: right
        }

        .woocommerce #content table.cart td.actions .button,
        .woocommerce table.cart td.actions .button,
        .woocommerce-page #content table.cart td.actions .button,
        .woocommerce-page table.cart td.actions .button {
            display: block;
            width: 100%
        }

        .woocommerce .cart-collaterals .cart_totals,
        .woocommerce .cart-collaterals .cross-sells,
        .woocommerce .cart-collaterals .shipping_calculator,
        .woocommerce-page .cart-collaterals .cart_totals,
        .woocommerce-page .cart-collaterals .cross-sells,
        .woocommerce-page .cart-collaterals .shipping_calculator {
            width: 100%;
            float: none;
            text-align: left
        }

        .woocommerce-page.woocommerce-checkout form.login .form-row,
        .woocommerce.woocommerce-checkout form.login .form-row {
            width: 100%;
            float: none
        }

        .woocommerce #payment .terms,
        .woocommerce-page #payment .terms {
            text-align: left;
            padding: 0
        }

        .woocommerce #payment #place_order,
        .woocommerce-page #payment #place_order {
            float: none;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 1em
        }

        .woocommerce .lost_reset_password .form-row-first,
        .woocommerce .lost_reset_password .form-row-last,
        .woocommerce-page .lost_reset_password .form-row-first,
        .woocommerce-page .lost_reset_password .form-row-last {
            width: 100%;
            float: none;
            margin-right: 0
        }

        .woocommerce-account .woocommerce-MyAccount-content,
        .woocommerce-account .woocommerce-MyAccount-navigation {
            float: none;
            width: 100%
        }

        .single-product .twentythirteen .panel {
            padding-left: 20px !important;
            padding-right: 20px !important
        }
    </style>
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <link rel='stylesheet' id='fvm-header-0-css' href='/wp-content/uploads/cache/fvm/1569501923/out/header-9b5d32b5.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='fvm-header-2-css' href='/wp-content/uploads/cache/fvm/1569501923/out/header-7dcf4df0.min.css' type='text/css' media='all' />
    <script type='text/javascript'>
        /*  */
        var ajax_login_object = {
            "ajaxurl": "http:\/\/event-theme.com\/themes\/gocourierwp\/wp-admin\/admin-ajax.php",
            "redirecturl": "http:\/\/event-theme.com\/themes\/gocourierwp\/",
            "loadingmessage": "Sending user info, please wait..."
        };
        var ywot = {
            "p": ""
        };
        /*  */
    </script>
    <script type='text/javascript' src='/wp-content/uploads/cache/fvm/1569501923/out/header-66001e65.min.js'></script>
    <link rel='https://api.w.org/' href='wp-json/index.html' />
    <link rel="canonical" href="index.html" />
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <style type="text/css" media="all" id="siteorigin-panels-layouts-head">
        /* Layout 13 */
        #pgc-13-0-0,
        #pgc-13-1-0,
        #pgc-13-6-0,
        #pgc-13-7-0 {
            width: 100%;
            width: calc(100% - (0 * 30px))
        }

        #pl-13 #panel-13-0-0-0,
        #pl-13 #panel-13-1-0-0,
        #pl-13 #panel-13-2-0-0,
        #pl-13 #panel-13-2-1-0,
        #pl-13 #panel-13-3-0-0,
        #pl-13 #panel-13-3-1-0,
        #pl-13 #panel-13-4-0-0,
        #pl-13 #panel-13-4-1-0,
        #pl-13 #panel-13-5-0-0,
        #pl-13 #panel-13-6-0-0,
        #pl-13 #panel-13-7-0-0,
        #pl-13 #panel-13-8-0-0,
        #pl-13 #panel-13-8-1-0 {}

        #pg-13-0,
        #pg-13-1,
        #pg-13-2,
        #pg-13-6,
        #pg-13-7,
        #pl-13 .so-panel {
            margin-bottom: 30px
        }

        #pgc-13-2-0,
        #pgc-13-8-0 {
            width: 40%;
            width: calc(40% - (0.6 * 30px))
        }

        #pgc-13-2-1,
        #pgc-13-8-1 {
            width: 60%;
            width: calc(60% - (0.4 * 30px))
        }

        #pgc-13-3-0,
        #pgc-13-3-1 {
            width: 50%;
            width: calc(50% - (0.5 * 30px))
        }

        #pg-13-3,
        #pg-13-4,
        #pg-13-5,
        #pl-13 .so-panel:last-child {
            margin-bottom: 0px
        }

        #pgc-13-4-0 {
            width: 85%;
            width: calc(85% - (0.15 * 30px))
        }

        #pgc-13-4-1 {
            width: 15%;
            width: calc(15% - (0.85 * 30px))
        }

        #pgc-13-5-0 {
            width: 55%;
            width: calc(55% - (0.45 * 30px))
        }

        #pgc-13-5-1 {
            width: 45%;
            width: calc(45% - (0.55 * 30px))
        }

        #pg-13-0>.panel-row-style {
            background-image: url(wp-content/uploads/2016/05/Managing-Cities-with-Urban-Computing-2.jpg);
            background-position: 0 center !important;
            background-size: cover;
            border: 1px solid #f6ab36;
            border-width: 0 0 5px 0 !important;
            padding: 140px 0 200px
        }

        #panel-13-0-0-0>.panel-widget-style {
            color: #ffffff;
            text-align: center
        }

        #panel-13-1-0-0>.panel-widget-style {
            margin-top: -125px
        }

        #pg-13-2>.panel-row-style {
            border: 1px solid #eaeaea;
            padding: 120px 0 60px;
            border-width: 0 0 1px 0 !important
        }

        #pg-13-3>.panel-row-style {
            padding: 100px 0 0 0
        }

        #pg-13-4>.panel-row-style {
            background-image: url(http://event-theme.com/themes/gocourierwp/wp-content/uploads/2016/05/services2-2.jpg);
            background-position: 0 center !important;
            background-repeat: no-repeat;
            padding: 110px 0;
            overflow: hidden
        }

        #panel-13-4-1-0>.panel-widget-style {
            position: absolute;
            right: 0;
            bottom: 0
        }

        #pg-13-5>.panel-row-style {
            background-image: url(http://event-theme.com/themes/gocourierwp/wp-content/uploads/2016/05/about2-2.png);
            background-repeat: no-repeat !important;
            background-position: right 90px center;
            padding: 290px 0
        }

        #pg-13-6>.panel-row-style {
            background-image: url(http://event-theme.com/themes/gocourierwp/wp-content/uploads/2016/05/testi-bg-2.jpg);
            background-position: 0 center !important;
            background-repeat: no-repeat;
            padding: 120px 0
        }

        #pg-13-7>.panel-row-style {
            padding: 100px 0 0
        }

        #pg-13-8>.panel-row-style {
            padding: 60px 0 0 0
        }

        @media (max-width:780px) {

            #pg-13-0.panel-no-style,
            #pg-13-0.panel-has-style>.panel-row-style,
            #pg-13-1.panel-no-style,
            #pg-13-1.panel-has-style>.panel-row-style,
            #pg-13-2.panel-no-style,
            #pg-13-2.panel-has-style>.panel-row-style,
            #pg-13-3.panel-no-style,
            #pg-13-3.panel-has-style>.panel-row-style,
            #pg-13-4.panel-no-style,
            #pg-13-4.panel-has-style>.panel-row-style,
            #pg-13-5.panel-no-style,
            #pg-13-5.panel-has-style>.panel-row-style,
            #pg-13-6.panel-no-style,
            #pg-13-6.panel-has-style>.panel-row-style,
            #pg-13-7.panel-no-style,
            #pg-13-7.panel-has-style>.panel-row-style,
            #pg-13-8.panel-no-style,
            #pg-13-8.panel-has-style>.panel-row-style {
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column
            }

            #pg-13-0>.panel-grid-cell,
            #pg-13-0>.panel-row-style>.panel-grid-cell,
            #pg-13-1>.panel-grid-cell,
            #pg-13-1>.panel-row-style>.panel-grid-cell,
            #pg-13-2>.panel-grid-cell,
            #pg-13-2>.panel-row-style>.panel-grid-cell,
            #pg-13-3>.panel-grid-cell,
            #pg-13-3>.panel-row-style>.panel-grid-cell,
            #pg-13-4>.panel-grid-cell,
            #pg-13-4>.panel-row-style>.panel-grid-cell,
            #pg-13-5>.panel-grid-cell,
            #pg-13-5>.panel-row-style>.panel-grid-cell,
            #pg-13-6>.panel-grid-cell,
            #pg-13-6>.panel-row-style>.panel-grid-cell,
            #pg-13-7>.panel-grid-cell,
            #pg-13-7>.panel-row-style>.panel-grid-cell,
            #pg-13-8>.panel-grid-cell,
            #pg-13-8>.panel-row-style>.panel-grid-cell {
                width: 100%;
                margin-right: 0
            }

            #pgc-13-2-0,
            #pgc-13-3-0,
            #pgc-13-4-0,
            #pgc-13-5-0,
            #pgc-13-8-0 {
                margin-bottom: 30px
            }

            #pl-13 .panel-grid-cell {
                padding: 0
            }

            #pl-13 .panel-grid .panel-grid-cell-empty {
                display: none
            }

            #pl-13 .panel-grid .panel-grid-cell-mobile-last {
                margin-bottom: 0px
            }
        }
    </style>
   
  </head>
  <body class="page-template-default page page-id-78 theme-gocourier woocommerce-no-js layout-full">
    <div id="preloader">
        <div class="small1">
            <div class="small ball smallball1"></div>
            <div class="small ball smallball2"></div>
            <div class="small ball smallball3"></div>
            <div class="small ball smallball4"></div>
        </div>
        <div class="small2">
            <div class="small ball smallball5"></div>
            <div class="small ball smallball6"></div>
            <div class="small ball smallball7"></div>
            <div class="small ball smallball8"></div>
        </div>
        <div class="bigcon">
            <div class="big ball"></div>
        </div>
    </div>
    <form id="login" action="/" method="post"> <a class="close" href="#"><i class="fa fa-times"></i></a>
        <div class="user-login-content">
            <h1>Sign In</h1>
            <p class="sign-in-details">Sign in to Go for getting all details</p>
            <p class="status"></p> <input id="username" type="text" name="username" class="form-control" placeholder="username"> <input id="password" type="password" name="password" class="form-control" placeholder="*****"> <input class="submit_button button form-control"
                type="submit" value="Sign in now" name="submit"> <a class="lost" href="/my-account/lost-password/index.html">Forgot password?</a> <input type="hidden" id="security" name="security" value="f6477aa137" /><input type="hidden" name="_wp_http_referer"
                value="/themes/gocourierwp/order-tracking/" />
        </div>
        <div class="login-form-boootom-content">
            <p>Do not have an account?</p> <a href="/my-account/index.html">Create a free account</a>
        </div>
    </form>
    <div id="wrapper">
        <header class="header-main">
            <div class="container-fluid padding-zero header-top">
                <div class="col-md-6 padding-zero">
                    <ul id="menu-top-menu" class="header-top-menu navbar-left">
                        <li id="menu-item-139" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-139"><a href="#">Sitemap</a></li>
                        <li id="menu-item-140" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-140"><a href="#">privacy</a></li>
                        <li id="menu-item-141" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-141"><a href="#">pricing</a></li>
                    </ul>
                </div>
                <div class="col-md-6 padding-zero">
                    <div class="top-header-info"> <a href="#" class="login_button" id="show_login">sign in</a>
                        <p><i class="fa fa-phone" aria-hidden="true"></i>Call Us Now: <span>+27 065 8311 929</span></p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a class="visible-sec navbar-brand" href="/index.html" title="Go Courier">
                            <img src="/wp-content/themes/gocourier/images/logo.png" alt="Go Courier" /> </a>
                    </div>
                    <div class="col-md-10">
                        <nav class="yamm navbar navbar-default" role="navigation">
                            <div class="navbar-table">
                                <div class="navbar-cell tight">
                                    <div class="navbar-header">
                                        <div class="hidden-sec slim-wrap" data-image="http://event-theme.com/themes/gocourierwp/wp-content/themes/gocourier/images/logo.png" data-homelink="http://event-theme.com/themes/gocourierwp/">
                                            <ul id="menu-header-menu" class="menu-items">
                                                <li id="menu-item-303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-303">
                                                    <a href="/index.html">Home</a>
                                                    <ul class="sub-menu">
                                                        <li id="menu-item-222" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-222">
                                                            <a href="/index.html">Home 1</a></li>
                                                        <li id="menu-item-302" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-302">
                                                            <a href="/home-2/index.html">Home 2</a></li>
                                                    </ul>
                                                </li>
                                                <li id="menu-item-223" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-223">
                                                    <a href="/about-us/index.html">About</a></li>
                                                <li id="menu-item-206" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-78 current_page_item menu-item-206">
                                                    <a href="index.html" aria-current="page">Tracking</a></li>
                                                <li id="menu-item-207" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-207">
                                                    <a href="/pricing-plan/index.html">Pricing</a></li>
                                                <li id="menu-item-205" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205">
                                                    <a href="/contact-us/index.html">Contact</a></li>
                                                <li id="menu-item-304" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-304">
                                                    <a href="/blog/index.html">Blog</a>
                                                    <ul class="sub-menu">
                                                        <li id="menu-item-305" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-305">
                                                            <a href="/2016/05/14/hello-world-2/index.html">Single
																Blog</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown has-submenu searchmenu">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <i class="fa fa-search"></i></a>
                                                    <ul class="dropdown-menu start-right" role="menu">
                                                        <li>
                                                            <form class="form-search form-horizontal">
                                                                <div class="input-append"> <input name="s" type="text" class="search-query form-control" placeholder="Search"></div>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end navbar-header -->
                                </div>
                                <!-- end navbar-cell -->
                                <div class="navbar-cell stretch visible-sec">
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                                        <div class="navbar-cell">
                                            <ul id="menu-header-menu-1" class="nav navbar-nav navbar-right">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-303">
                                                    <a href="/index.html">Home</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-222">
                                                            <a href="/index.html">Home 1</a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-302">
                                                            <a href="/home-2/index.html">Home 2</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-223">
                                                    <a href="/about-us/index.html">About</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-78 current_page_item menu-item-206">
                                                    <a href="index.html" aria-current="page">Tracking</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-207">
                                                    <a href="/pricing-plan/index.html">Pricing</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205">
                                                    <a href="/contact-us/index.html">Contact</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-304">
                                                    <a href="/blog/index.html">Blog</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-305">
                                                            <a href="/2016/05/14/hello-world-2/index.html">Single
																Blog</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown has-submenu searchmenu">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <i class="fa fa-search"></i></a>
                                                    <ul class="dropdown-menu start-right" role="menu">
                                                        <li>
                                                            <form class="form-search form-horizontal">
                                                                <div class="input-append"> <input name="s" type="text" class="search-query form-control" placeholder="Search"></div>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- end navbar-cell -->
                                    </div>
                                    <!-- /.navbar-collapse -->
                                </div>
                                <!-- end navbar cell -->
                            </div>
                            <!-- end navbar-table -->
                        </nav>
                        <!-- end navbar -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </header>
       
        <!-- Content Wrap -->
        {{{body}}}
        <!-- Content Wrap -->
        <div class="footer-widget-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-widget-area">
                        <div class="widget-area-footer" role="complementary">
                            <div id="black-studio-tinymce-1" class="footer-widget widget_black_studio_tinymce">
                                <div class="textwidget">
                                    <p><img class="alignnone size-full wp-image-232" src="/wp-content/uploads/2016/05/footer_logo-2.png" alt="footer_logo" width="197" height="160" /></p>
                                </div>
                            </div>
                        </div>
                        <!-- .widget-area -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-widget-area">
                        <div class="widget-area-footer" role="complementary">
                            <div id="nav_menu-1" class="footer-widget widget_nav_menu">
                                <h3 class="title">Quick Links</h3>
                                <div class="menu-quick-link-container">
                                    <ul id="menu-quick-link" class="menu">
                                        <li id="menu-item-135" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-135">
                                            <a href="#">Sitemap</a></li>
                                        <li id="menu-item-136" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-136">
                                            <a href="#">Pricing</a></li>
                                        <li id="menu-item-137" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-137">
                                            <a href="#">Payment Method</a></li>
                                        <li id="menu-item-138" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-138">
                                            <a href="#">Support</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- .widget-area -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-widget-area">
                        <div class="widget-area-footer" role="complementary">
                            <div id="nav_menu-2" class="footer-widget widget_nav_menu">
                                <h3 class="title">Important Links</h3>
                                <div class="menu-important-link-container">
                                    <ul id="menu-important-link" class="menu">
                                        <li id="menu-item-208" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-208">
                                            <a href="#">themeforest</a></li>
                                        <li id="menu-item-210" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-210">
                                            <a href="#">envato</a></li>
                                        <li id="menu-item-209" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-209">
                                            <a href="#">audiojungle</a></li>
                                        <li id="menu-item-211" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-211">
                                            <a href="#">videohibe</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- .widget-area -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-widget-area">
                        <div class="widget-area-footer" role="complementary">
                            <div id="black-studio-tinymce-2" class="footer-widget widget_black_studio_tinymce">
                                <h3 class="title">Get In Toutch</h3>
                                <div class="textwidget">
                                    <p>
                                        <div class="ts-social-width"> <a href="#" class="social-blocks" target="Facebook" style="width: 32px;font-size: 16px; line-height: 32px;"><i
													class="fa fa-facebook"></i></a></div>
                                        <div class="ts-social-width"> <a href="#" class="social-blocks" target="Twitter" style="width: 32px;font-size: 16px; line-height: 32px;"><i
													class="fa fa-twitter"></i></a></div>
                                        <div class="ts-social-width"> <a href="#" class="social-blocks" target="googleplus" style="width: 32px;font-size: 16px; line-height: 32px;"><i
													class="fa fa-google-plus"></i></a></div>
                                        <div class="ts-social-width"> <a href="#" class="social-blocks" target="linkedin" style="width: 32px;font-size: 16px; line-height: 32px;"><i
													class="fa fa-linkedin"></i></a></div>
                                    </p>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div id="black-studio-tinymce-3" class="footer-widget widget_black_studio_tinymce">
                                <div class="textwidget">
                                    <p><img class="alignnone size-full wp-image-234" src="/wp-content/uploads/2016/05/payment-1.png" alt="payment" width="219" height="32" /></p>
                                </div>
                            </div>
                        </div>
                        <!-- .widget-area -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="copyright-text">
                            <p>
                                <p>© Copyright 2018, All rights reserved.</p>
                                <p style="text-align: right">Design and <i class="fa fa-heart"></i> by jThemes Studio.
                                </p>
                            </p>
                        </div>
                        <!-- end copyright-text -->
                    </div>
                    <!-- end widget -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end copyrights -->
        <!-- Footer -->
        <div class="to-top theme-clr-bg transition"> <i class="fa fa-angle-up"></i></div>
    </div>
    <!-- Wrapper Ends -->
    <script type="text/javascript">
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    </script>
    <script type="text/javascript">
        var wc_product_block_data = JSON.parse(decodeURIComponent('%7B%22min_columns%22%3A1%2C%22max_columns%22%3A6%2C%22default_columns%22%3A3%2C%22min_rows%22%3A1%2C%22max_rows%22%3A6%2C%22default_rows%22%3A1%2C%22thumbnail_size%22%3A300%2C%22placeholderImgSrc%22%3A%22http%3A%5C%2F%5C%2Fevent-theme.com%5C%2Fthemes%5C%2Fgocourierwp%5C%2Fwp-content%5C%2Fuploads%5C%2Fwoocommerce-placeholder.png%22%2C%22min_height%22%3A500%2C%22default_height%22%3A500%2C%22isLargeCatalog%22%3Afalse%2C%22limitTags%22%3Afalse%2C%22hasTags%22%3Afalse%2C%22productCategories%22%3A%5B%7B%22term_id%22%3A29%2C%22name%22%3A%22Uncategorized%22%2C%22slug%22%3A%22uncategorized%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A29%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A0%2C%22count%22%3A0%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22http%3A%5C%2F%5C%2Fevent-theme.com%5C%2Fthemes%5C%2Fgocourierwp%5C%2Fproduct-category%5C%2Funcategorized%5C%2F%22%7D%2C%7B%22term_id%22%3A15%2C%22name%22%3A%22Albums%22%2C%22slug%22%3A%22albums%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A15%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A11%2C%22count%22%3A4%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22http%3A%5C%2F%5C%2Fevent-theme.com%5C%2Fthemes%5C%2Fgocourierwp%5C%2Fproduct-category%5C%2Fmusic%5C%2Falbums%5C%2F%22%7D%2C%7B%22term_id%22%3A9%2C%22name%22%3A%22Clothing%22%2C%22slug%22%3A%22clothing%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A9%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A0%2C%22count%22%3A12%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22http%3A%5C%2F%5C%2Fevent-theme.com%5C%2Fthemes%5C%2Fgocourierwp%5C%2Fproduct-category%5C%2Fclothing%5C%2F%22%7D%2C%7B%22term_id%22%3A10%2C%22name%22%3A%22Hoodies%22%2C%22slug%22%3A%22hoodies%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A10%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A9%2C%22count%22%3A6%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22http%3A%5C%2F%5C%2Fevent-theme.com%5C%2Fthemes%5C%2Fgocourierwp%5C%2Fproduct-category%5C%2Fclothing%5C%2Fhoodies%5C%2F%22%7D%2C%7B%22term_id%22%3A11%2C%22name%22%3A%22Music%22%2C%22slug%22%3A%22music%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A11%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A0%2C%22count%22%3A6%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22http%3A%5C%2F%5C%2Fevent-theme.com%5C%2Fthemes%5C%2Fgocourierwp%5C%2Fproduct-category%5C%2Fmusic%5C%2F%22%7D%2C%7B%22term_id%22%3A12%2C%22name%22%3A%22Posters%22%2C%22slug%22%3A%22posters%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A12%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A0%2C%22count%22%3A5%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22http%3A%5C%2F%5C%2Fevent-theme.com%5C%2Fthemes%5C%2Fgocourierwp%5C%2Fproduct-category%5C%2Fposters%5C%2F%22%7D%2C%7B%22term_id%22%3A13%2C%22name%22%3A%22Singles%22%2C%22slug%22%3A%22singles%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A13%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A11%2C%22count%22%3A2%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22http%3A%5C%2F%5C%2Fevent-theme.com%5C%2Fthemes%5C%2Fgocourierwp%5C%2Fproduct-category%5C%2Fmusic%5C%2Fsingles%5C%2F%22%7D%2C%7B%22term_id%22%3A14%2C%22name%22%3A%22T-shirts%22%2C%22slug%22%3A%22t-shirts%22%2C%22term_group%22%3A0%2C%22term_taxonomy_id%22%3A14%2C%22taxonomy%22%3A%22product_cat%22%2C%22description%22%3A%22%22%2C%22parent%22%3A9%2C%22count%22%3A6%2C%22filter%22%3A%22raw%22%2C%22link%22%3A%22http%3A%5C%2F%5C%2Fevent-theme.com%5C%2Fthemes%5C%2Fgocourierwp%5C%2Fproduct-category%5C%2Fclothing%5C%2Ft-shirts%5C%2F%22%7D%5D%2C%22homeUrl%22%3A%22http%3A%5C%2F%5C%2Fevent-theme.com%5C%2Fthemes%5C%2Fgocourierwp%5C%2F%22%7D'));
    </script>

    <script type='text/javascript'>
        var gocourier = {
            "ajaxurl": "http:\/\/event-theme.com\/themes\/gocourierwp\/wp-admin\/admin-ajax.php",
            "GOCOURIERTHEMEURI": "http:\/\/event-theme.com\/themes\/gocourierwp\/wp-content\/themes\/gocourier\/"
        };
        /*  */
    </script>
    <script type='text/javascript' src='/wp-content/uploads/cache/fvm/1569501923/out/footer-1eb85b55.min.js'></script>
</body>
</html>
